# Local builds and scratch files
/prefix/
/temp/
/src/charabar/build/

# Executables and build stamps
/src/charabar/charabar
/src/charawc/charawc
/src/charawc/charactl
/src/charawc/.png-*
/src/charawc/test/*_test

# Compiler output and crash dumps
*.o
*.a
*.so
*.so.*
*.d
*.gcda
*.gcno
/core
/core.[0-9]*
